flax
tensorflow_datasets==4.6.0
dm-reverb==0.7.2
rlds
rlax
dm-env
optax
tensorflow==2.8.0
bsuite
gym==0.25.0
gym[atari]
typing-extensions
pillow
dm-tree
dm-haiku==0.0.12
dm-launchpad==0.5.2
trfl
dm-control
atari-py
chex
jax[tpu]==0.4.24
pygame==2.1.0
tensorflow_probability==0.15.0
absl-py
numpy
dm-sonnet
